@page
@model IndexModel

<html>
    <head>
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
    <!--<script>setTimeout(function (){window.location.reload();},4000)</script>-->
        <header>
            <h1>Steam Stats</h1>
            Type in your SteamID to show stats
            <br>
            Works only on public profiles
            <br>
            Read README for more info

        </header>
        <main>
        <form method="post" >
            <input asp-for="apiKey" placeholder="apiKey"/>
            <br><br>
            <input asp-for="SteamID" placeholder="SteamID64"/>
		    <button type="submit">Pull Data</button>
        </form>
        <div id="Json">
            @if(Model.RawJsonSummaries != null)
            {
                <h2>Raw JSON Data:</h2>
                <pre>@Model.RawJsonSummaries</pre>
            }
            @if (Model.RawJsonSummaries != null)
            {
                <h2>Raw JSON Data Friends:</h2>
                <pre>@Model.RawJsonFriendList</pre>
            }
            @if(Model.UserStatus != "0")
            {
                <style>
                    #UserAvatar 
                    {
                        border: 3px solid rgba(102,200,241,1);
                    }
                    #Username
                    {
                        color: rgba(102,200,241,1);
                    }
                </style>
            }
            else
            {
                <style>
                    #UserAvatar 
                    {
                        border: 3px solid rgba(141,141,142,1);
                    }

                    #Username 
                    {
                        color: rgba(141,141,142,1);
                    }
                </style>
            }
        </div>

        <!--Moze po prostu konkretne segmenty na konkretne requesty i tyle ladniej bedzie, np w postaci blokow-->

        <div id="ProfileInfo">
            <div id="ProfileInfoHeader">
                @if(!string.IsNullOrEmpty(Model.UserName))
                {
                    <img src="@Model.UserAvatar" alt="UserAvatar" id="UserAvatar" />
                    <h2 id="Username">Username: @Model.UserName</h2>
                }
                else
                {
                    <p style="text-align:center; width:100%; padding-top:15px;">Data will be pulled here</p>
                }
            </div>
            <div id="ProfileInfoMain">
                @if(Model.FriendCount > 0)
                {
                    <div>This User has @Model.FriendCount friends on steam</div>
                }
            </div>
        </div>
        </main>
        


    </body>
</html> 