@page
@model IndexModel

<html>
    <head>
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
        <header>
            <h1>Steam Stats</h1>
            Type in your SteamID to show stats
            <br>
            Works only on public profiles
            <br>
            Read README for more info

        </header>
        <main>
        <form method="post" >
            <input asp-for="apiKey" placeholder="apiKey"/>
            <br><br>
            <input asp-for="SteamID" placeholder="SteamID64"/>
		    <button type="submit">Pull Data</button>
        </form>
        <div id="Json">
            @if(Model.RawJsonSummaries != null)
            {
                <h2>Raw JSON Data:</h2>
                <pre>@Model.RawJsonSummaries</pre>
            }
            @if (Model.RawJsonSummaries != null)
            {
                <h2>Raw JSON Data Friends:</h2>
                <pre>@Model.RawJsonFriendList</pre>
            }
        </div>

        <!--Moze po prostu konkretne segmenty na konkretne requesty i tyle ladniej bedzie, np w postaci blokow-->

        <div id="ProfileInfo">
            <div id="ProfileInfoHeader">
                @if(!string.IsNullOrEmpty(Model.UserName))
                {
                    <img src="@Model.UserAvatar" alt="UserAvatar" id="UserAvatar" />
                    <h2 id="Username">@Model.UserName</h2>
                    @if (Model.UserStatus != "0")
                    {
                        <h3 id="Username">Online</h3>
                        <style>
                            #UserAvatar {
                                border: 3px solid rgba(102,200,241,1);
                            }

                            #Username {
                                color: rgba(102,200,241,1);
                            }
                        </style>
                    }
                    else
                    {
                        <h3 id="Username">Offline</h3>
                        <style>
                            #UserAvatar {
                                border: 3px solid rgba(141,141,142,1);
                            }

                            #Username {
                                color: rgba(141,141,142,1);
                            }
                        </style>
                    }
                }
                else
                {
                    <p style="text-align:center; width:100%; padding-top:15px;">Data will be pulled here</p>
                }
            </div>


            <div class="main-container">
                <div id="ProfileInfoFriends">
                    @if(Model.FriendCount > 0 && Model.Friendlist_Visible)
                    {
                        <h3 style="text-align:center;">User Friends on Steam</h3> <br>
                        <p style="padding:20px;">This User has @Model.FriendCount friends on steam</p>

                        <div id="OldestFriends">
                        <p>5 OLDEST FRIENDS</p>
                        @for(int i = 0; i < Model.FiveOldestFriends.Count; i++)
                        {
                        
                            <p>Friend nr. @(i + 1) &nbsp &nbsp <img src="@(Model.FiveOldestFriendsInfo[i].GetProperty("avatarmedium").ToString())" 
                                alt="fewa" style="border-radius:15px;"> &nbsp &nbsp @(Model.FiveOldestFriendsInfo[i].GetProperty("personaname").ToString())</p>
                        }
                        </div>
                        <div id="NewestFriends">
                        <p>5 NEWEST FRIENDS</p>
                        @for(int i = 0; i < Model.FiveNewestFriends.Count; i++)
                        {
                        
                            <p>Friend nr. @(i + 1) &nbsp &nbsp <img src="@(Model.FiveNewestFriendsInfo[i].GetProperty("avatarmedium").ToString())" 
                                alt="fewa"> &nbsp &nbsp @(Model.FiveNewestFriendsInfo[i].GetProperty("personaname").ToString())</p>
                        }  
                        </div>
                    
                    }
                    else
                    {
                        <p>Friends list is private or user has no friends</p>
                    }
                </div>
            

                <div class="right-container">
                <div id="ProfileInfoRecentlyPlayedGames">
                 
                    @if(Model.RecentlyPlayed_Visible)
                    {
                        <h3 style="text-align:center;">Recently Played Games</h3> <br>
                        if(Model.LastGamesCount > 0 && Model.RecentlyPlayed_Visible)
                        {
                            for (int i = 0; i < Math.Min(5,Model.LastGamesCount); i++)
                            {
                                var game = Model.RecentGamesArray[i];
                                var appid = game.GetProperty("appid").ToString();
                                var name = game.GetProperty("name").ToString();
                                var img_icon_url = game.GetProperty("img_icon_url").ToString();
                                var minutesplayed = game.GetProperty("playtime_forever").GetInt32();
                                var hoursplayed = (minutesplayed / 60);

                                <div id="LastPlayedGame">
                                    <img src="http://media.steampowered.com/steamcommunity/public/images/apps/@(appid)/@(img_icon_url).jpg"
                                         style="border-radius:5px; width:40px; height:40px;" />
                                    @(name) <br> Hours Played: @(hoursplayed) <span style="float:right; padding-right:20px;">(ID: @(appid))</span> <br><br>
                                </div>
                            
                            }
                        }
                        else
                        {
                            <p>User didn't played any games recently</p>
                        }
                    
                    }
                    else
                    {
                        <p>User's recent games are private</p>
                    }

                </div>
                <div id="OwnedGames">
                    <h3 style="text-align:center;">Owned Games</h3> <br>
                    <p>This user has: @Model.GameCount Games</p>
                    type in name of the game or its appid to check it out
                    <input type="text" id="GameInput" placeholder="Name or AppID"/>
                    <button type="button" onclick="test()">Check</button><br><br>
                    <div id="GameInformationHeader">a </div>
                    <div id="GameInformationMain">a </div>
                        <script>

                            function test() 
                            {
                                var gameInfoDivHeader = document.getElementById("GameInformationHeader");

                                gameInfoDivHeader.innerHTML = "";

                                var gameInfoDivMain = document.getElementById("GameInformationMain");

                                gameInfoDivMain.innerHTML = "";

                                var input = document.getElementById("GameInput").value.toLowerCase();
                                var found = false;
                                @*Iterate through owned games to find the one matching the input*@
                                var games = @Html.Raw(Model.OwnedGamesArray);
                                
                                for (var i = 0; i < games.length; i++) {
                                    var game = games[i];
                                    var appid = game["appid"].toString();
                                    var name = game["name"].toString().toLowerCase();
                                    var img_icon_url = game["img_icon_url"].toString();
                                    var lasttimeplayed = game["rtime_last_played"]
                                    var minutesplayed = game["playtime_forever"];
                                    var hoursplayed = Math.floor(minutesplayed / 60);

                                    if(name === input || appid === input)
                                    {
                                        found = true;
                                        

                                        // show game info header - icon of the game, name and steam id
                                        gameInfoDivHeader.innerHTML = "<div id='ChosenGameInfoHeader'><h3>" +
                                        '<img src="http://media.steampowered.com/steamcommunity/public/images/apps/' + appid + '/'+ img_icon_url +'.jpg">' +
                                        "  " + game["name"] + "  " + game["appid"] + "</h3></div>";

                                        // show game info main - hours spent in game, last 2 weeks hours, last time played 

                                        

                                        // played before but not in last 2 weeks
                                        if(game["playtime_2weeks"] != null && minutesplayed > 0)
                                        {
                                            gameInfoDivMain.innerHTML = "gral 2 tygodnie temu"
                                        }
                                        // played before and in last 2 weeks
                                        else if(game["playtime_2weeks"] == null && minutesplayed > 0)
                                        {
                                            gameInfoDivMain.innerHTML = "gral kiedys ale nie 2 tygodnie temu"
                                        }
                                        // didnt play before or error
                                        else
                                        {
                                            gameInfoDivMain.innerHTML = "nie gral w ogole albo blad"
                                        }

                                        
                                        
                                        console.log(game);
                                    }
                                    if(!found)
                                    {
                                        document.getElementById("GameInformationHeader").innerHTML = "Game not found or error";
                                    }
                                    
                                }
                               
                            }
                        </script>
                </div>
                </div>
            </div>
        </div>
        </main>
        


    </body>
</html> 