@page
@model IndexModel

<html>
    <head>
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
    <!--<script>setTimeout(function (){window.location.reload();},4000)</script>-->
        <header>
            <h1>Steam Stats</h1>
            Type in your SteamID to show stats
            <br>
            Works only on public profiles
            <br>
            Read README for more info

        </header>
        <main>
        <form method="post" >
            <input asp-for="apiKey" placeholder="apiKey"/>
            <br><br>
            <input asp-for="SteamID" placeholder="SteamID64"/>
		    <button type="submit">Pull Data</button>
        </form>
        <div id="Json">
            @if(Model.RawJsonSummaries != null)
            {
                <h2>Raw JSON Data:</h2>
                <pre>@Model.RawJsonSummaries</pre>
            }
            @if (Model.RawJsonSummaries != null)
            {
                <h2>Raw JSON Data Friends:</h2>
                <pre>@Model.RawJsonFriendList</pre>
            }
        </div>

        <!--Moze po prostu konkretne segmenty na konkretne requesty i tyle ladniej bedzie, np w postaci blokow-->

        <div id="ProfileInfo">
            <div id="ProfileInfoHeader">
                @if(!string.IsNullOrEmpty(Model.UserName))
                {
                    <img src="@Model.UserAvatar" alt="UserAvatar" id="UserAvatar" />
                    <h2 id="Username">@Model.UserName</h2>
                    @if (Model.UserStatus != "0")
                    {
                        <h3 id="Username">Online</h3>
                        <style>
                            #UserAvatar {
                                border: 3px solid rgba(102,200,241,1);
                            }

                            #Username {
                                color: rgba(102,200,241,1);
                            }
                        </style>
                    }
                    else
                    {
                        <h3 id="Username">Offline</h3>
                        <style>
                            #UserAvatar {
                                border: 3px solid rgba(141,141,142,1);
                            }

                            #Username {
                                color: rgba(141,141,142,1);
                            }
                        </style>
                    }
                }
                else
                {
                    <p style="text-align:center; width:100%; padding-top:15px;">Data will be pulled here</p>
                }
            </div>
            <div id="ProfileInfoFriends">
                @if(Model.FriendCount > 0 && Model.Friendlist_Visible)
                {
                    <h3 style="text-align:center;">User Friends on Steam</h3> <br>
                    <p>This User has @Model.FriendCount friends on steam</p>

                        <p> Time: @(Model.OldestFriendTime) ID: @(Model.OldestFriendID)</p>
                    
                }
                else
                {
                    <p>Friends list is private or user has no friends</p>
                }
            </div>
            <div id="ProfileInfoRecentlyPlayedGames">
                 
                @if(Model.RecentlyPlayed_Visible)
                {
                    <h3 style="text-align:center;">Recently Played Games</h3> <br>
                    for (int i = 0; i < Model.LastGamesCount; i++)
                    {
                        var game = Model.RecentGamesArray[i];
                        var appid = game.GetProperty("appid").ToString();
                        var name = game.GetProperty("name").ToString();
                        var img_icon_url = game.GetProperty("img_icon_url").ToString();
                        var minutesplayed = game.GetProperty("playtime_forever").GetInt32();
                        var hoursplayed = (minutesplayed / 60);

                        <div id="LastPlayedGame">
                            <img src="http://media.steampowered.com/steamcommunity/public/images/apps/@(appid)/@(img_icon_url).jpg"
                                 style="border-radius:5px; width:40px; height:40px;" />
                            @(name) <br> Hours Played: @(hoursplayed), (ID: @(appid)) <br><br>
                        </div>
                    }
                }
                else
                {
                    <p>User didn't played any games recently</p>
                }

            </div>
        </div>
        </main>
        


    </body>
</html> 